/* 

Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 90%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    padding: 20px;
}

.logo {
    width: 50%;
}

article {
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.contenedor2 {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.burger-menu {
    width: 50px;
    background-color: #1259c3;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    text-align:center;
    padding: 10px;
    display: block;
    margin: auto;
}

footer {
    text-align: center;
}

.icon-footer {
    color: #1259c3;
    font-size: 30px;
}

.articulos {
    background-color: #ebebeb;
    padding: 5px;
}

.verde {
    color: #39b54a;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav{
    display: none;
}

.descripcion {
    display: none;
}

.main-nav a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

img {
    width: 100%;
}

.centrar {
    text-align: center;
}

.slogan {
    font-size: 18px;
}

main section article i {
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    /* top: -15px; */
}

.div-precios {
    display: flex;
    align-items: flex-start;
    align-items: center;
}

.descuentos {
    margin: 0 7px;
    color: #39b54a;
    font-size: 16px;
}

/* .search-box {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
} */

.search-txt {
    height: 40px;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
}

.search-btn {
    color: #666;
}

footer {
    background-color: #ffffff;
}

.main-footer {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.footer-div {
    margin-bottom: 30px;
}

.main-form {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-div {
    margin-bottom: 20px;
}

.form-input {
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
}

.form-btn {
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #1259c3;
}

.form-btn2 {
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #1259c3;
}

/* Navegación en tablets */


@media (min-width: 361px) {
    .descripcion {
        display: block;
        margin-top: 7px;
    }
    .slogan {
        display: flex;
        align-items: center;
    }
    .main-nav {
        margin-top: 20px;
    }
}

/* Navegación en desktop */

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }
    .main-header-top {
        display: flex;
        justify-content: space-between;
    }
    .slogan {
        max-width: 350px;
        text-align: right;
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
    }
    .main-nav ul {
        display: flex;
    }
    .main-nav li {
        margin: 0 5px;
    }
}

@media (min-width: 1200px) {
    .main-header-top, .main-nav {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top {
        align-items: center;
    }
    .main-nav li {
        margin: 0 10px;
    }
    .main-nav a {
        font-size: 19px;
    }
    .slogan {
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .logo {
        width: 250px;
    }
    .main-nav {
        margin-top: 30px;
    }
}
